@media all and (max-width : 991px) and (min-width : 767px) {

@import "mixin.scss";

p{
  font-size: 150%;
}
.section1{
  article{
    h3{
      font-size: 150%;
    }
  }
}
#boutton{
  font-size: 150%;
}

i[class="fa-solid fa-1"]{
  @include numero_fonctionnement_tablette;
}
i[class="fa-solid fa-2"]{
  @include numero_fonctionnement_tablette;
}
i[class="fa-solid fa-3"]{
  @include numero_fonctionnement_tablette;
}

.fa-mobile-screen-button:before, .fa-list:before, .fa-store:before{
  @include agrandissement_tablette;
}



.conteneur_colonne{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.section2{
  article{
    a{
      width: 100%;
    }
    .conteneur_restaurant{
      width: 45%;
    }
  }

  aside{
    p{
      margin-left: 15%;
      @include agrandissement_tablette;
    }
  }

  h3{
    @include agrandissement_tablette;
  }
}

.fond_blanc{
  width: 100%;
  h4{
    @include agrandissement_tablette;
  }
}

.bloc_nouveau{
  width: 33%;
  padding-right: 2%;
}

.coeur-rempli{
  top: 39%;
}

footer{
  h3{
    @include agrandissement_tablette;
  }
  ul{
    li{
      @include agrandissement_tablette;
    }
  }
}
.fa-utensils:before, .fa-handshake-angle:before{
  @include agrandissement_tablette;
}


.redimensionner_image{
  height: 28vmax;
}


}
