html{
width:100%;
}

body{
  width:100%;
  margin:0%;
}

header{
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

p{
  font-family: 'Roboto', sans-serif;
}
h3, h4{
  /*font-family: 'Shrikhand', cursive;*/
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: 'Shrikhand', sans-serif;
}
