footer{
  background-color: #353535;
  color : white;
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  justify-content: flex-start;
}

footer div{
  padding-left : 5%;
  padding-right : 5%;
  width: 100%;
}

footer ul{
  list-style : none;
  padding-left: 0%;
}

footer ul li{
  font-family: "Roboto", sans-serif;
  padding-top: 2%;
  padding-bottom: 1%;
}

footer h3{
  font-family: "Shrikhand", sans-serif;
  padding-top: 3%;
}

i[class="fa-solid fa-utensils"]{
  margin-right : 4%;
  font-size : 80%;
}
i[class="fa-solid fa-handshake-angle"]{
  margin-right : 2%;
  font-size : 80%;
}

.bold{
  font-weight: bold;
}

footer a{
  color: white;
}
