.conteneur_menu_fleche_et_logo{
  display : flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

#logo_Ohmyfood{
  width : 40%;
  /*position: relative;
  left: 27%;
  top: -30%;*/
}

i[class="fa-solid fa-arrow-left"]{
  visibility: hidden;
  font-size: 130%;
  position: absolute;
  /*top: -30%;*/
  left: 8%;
  color: black;
  /*margin-left:8%;
  margin-right: 21%;
  padding-top: 2%;*/
}
