@media all and (max-width : 991px) and (min-width : 767px) {

  @import "mixin.scss";


  .fa-arrow-left:before{
    font-size: 200%;
  }
  .fa-heart{
    @include agrandissement_tablette;
  }

  h2{
    font-size: 200%;
  }

  article{
    p{
      @include agrandissement_tablette;
    }
    h3{
      @include agrandissement_tablette;
    }
  }

  .bloc_nouveau{
    width: 34%;
  }
  

  .fa-circle-check:before{
    font-size: 300%;
  }

  @keyframes deplacement_conteneur_prix {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-150px);
    }
    100% {
      transform: translateX(-150px);
    }
  }

  .padding_right:hover{
    padding-right: 8%;
  }

  #boutton{
    font-size: 200%;
  }

  footer{
    h3{
      @include agrandissement_tablette;
      padding-top: 10%;
    }
    ul{
      li{
        @include agrandissement_tablette;
      }
    }
  }
  .fa-utensils:before, .fa-handshake-angle:before{
    @include agrandissement_tablette;
  }


}
